/* HEADER e NAV */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #333;
    font-family: 'Fredoka', sans-serif;
    background-color: #ffeedf;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.header{
    background-color: #8a4c34;
    position: sticky;
    padding: 0.5rem 2rem 0;
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 2.5rem;
}

.menu a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 1.3rem;
}

.menu a:hover{
    color: #b6e5e5;
}

/* HERO SECTION */

.logo{
    width: 12rem;
    height: 3rem;
}

.botao{
    padding: 0.8rem;
    color: black;
    border-radius: 2rem;
    border-color: #598e8e;
    background-color: #b6e5e5;
    font-size: 1rem;
    font-family: 'Lucida Sans Regular';
    margin-top: 2rem;
    cursor: pointer;
    transition: scale 0.4s;
    border-width: 0.2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.botao:hover{
    scale: 1.1;
}

.hero-section{
    background: linear-gradient(rgba(44, 24, 26, 0.6), rgba(44, 24, 26, 0.3)), url("imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 650px;
}

.conteudo-hero h1{
    margin-bottom: 3rem;
}

/* SERVIÇOS */

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #68280e;
    margin-top: 1.5rem;
}

.foto-card{
    display: block;
    margin: 0 auto;
}

.cards { 
    display: flex; 
    gap: 2rem; 
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(255, 214, 175);
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    flex: 1; 
    min-width: 350px;
    max-width: 400px;
    transition: transform 0.3s;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.conteudo-card{
    padding: 0 1.6rem 0 1.6rem;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: justify;
}

.conteudo-card h3{
    color: #68280e;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.conteudo-card img{
    width: 300px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: #8a4c34;
    border-radius: 15px;
    margin-bottom: 10px;
}

.conteudo-card p{
    margin-top: 0.7rem;
}

.valor{
    font-weight: bold;
    color:#363636;
    padding: 1rem 0 0 0;
    font-size: 1.3rem;
}

/* PROMOCÕES */
.promocoes{
    padding: 1.5rem 0 1rem 0;
}

.img-promo{
    max-width: 650px;
    max-height: 550px;
}

.promo-title {
    text-align: center;
    font-size: 2.5rem;
    color: #68280e;
    margin-top: 1rem;
}

.texto-promo{
    font-size: 1.4rem;
}


/* BENEFICIOS */

.beneficios{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.beneficios h2{
    font-size: 2.5rem;
    color: #68280e;
    margin-top: 2rem;
}

.beneficios li{
    font-size: 1.2rem;
    margin-top: 8px;
    margin-left: 1.7rem;
}

.info-beneficios{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 1.5rem;
}

.info-beneficios-section{
    padding: 0 1.5rem 2rem;
}

.info-imagem2{
    flex: 1;
}

.info-imagem2 img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.247);
    margin-top: 2rem;
}

.lista-beneficios{
    margin-top: 20px;
}

/*AVALIAÇÕES DOS CLIENTES*/

.area-avaliacoes{
    flex-wrap: wrap;
}

.area-avaliacoes h2{
    text-align: center;
    font-size: 2.6rem;
    color: #68280e;
    margin-bottom: 25px;
    margin-top: 0.5rem;
}

.avaliacoes{
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.avaliacao{
    background-color:  rgb(255, 214, 175);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    flex: 1;
    max-width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.avaliacao p{
    margin: 5px 10px;
    font-size: 0.95rem;
    line-height: 1.4;
}

.nome-cliente{
    font-weight: bold;
    margin-top: auto;
}

.foto-cliente{
    flex: 1
}

.foto-cliente img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-style: solid;
    border-color: #8a4c34;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.247);
    margin-top: 5px;
    object-fit: cover;
}

.call{
    text-align: center;
    font-size: 2.6rem;
    color: #68280e;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* DUVIDAS - FAQ */


/* SOBRE A EMRPRESA */
.info{
    padding: 2rem 1.5rem;
    padding-bottom: 0;
}

.info-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
}

.info-imagem{
    flex: 1;
}

.info-imagem img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.247);
}

.info-texto{
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: 1rem;
}

.info-texto p{
    color: #666666;
    font-size: 1.1rem;
}

.info-texto h2{
    font-size: 2.5rem;
    color: #68280e;
    font-weight: bold;
}

/* FORMULÁRIO */

.formulario{
    background-color: #b8caca;
    padding: 25px;
    border-radius: 15px;
    max-width: 500px;
    margin: 2rem auto; 
    
}

button[type="submit"] {
    background-color: #b9977c;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 0.2rem 0.6rem;
    margin-bottom: 0.5rem;  
}
        
button[type="reset"] {
    background-color: #b9977c;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 0.2rem 0.6rem;  
}

#termos{
    margin-bottom: 3rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.formulario input{
    margin-bottom: 0.7rem;
    border-radius: 8px;
}

#comentario{
    margin-bottom: 1.5rem;
}

#horario{
    margin-bottom: 1rem;
}

#data{
    margin-bottom: 1.3rem;
    margin-top: 1rem;
}

.formulario h2{
    margin-bottom: 1.5rem;
}

.formulario textarea{
    border-radius: 8px;
}

#caixa-e{
    height: 1.4rem;
    width: 15rem;
    padding: 0 0 0 0.5rem;
}

#caixa{
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

/* BOTÃO DE VOZ E LIBRAS */
.btn-ajuda{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 20rem;
    z-index: 100;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 2rem;
    background-color: #62504b;
    transition: background-color 0.3s;
    transition: scale 0.4s;
}

.btn-ajuda:hover{
    background-color: #6f8158;
    scale: 1.2;
}

.voz{
    bottom: 1.4rem;
    right: 1rem;
}

.libras{
    bottom: 5.4rem;
    right: 1rem;
}

/* FOOTER */

.rodape{
    background-color: #8a4c34;
    padding: 1rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.footer-section{
    flex: 1;
    min-width: 50px;
    color: white;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

.footer-section h4{
    margin-bottom: 0.5rem;
    color: #eaaf76;
}

.footer-bottom{
    text-align: center;
    border-top: 1.5px solid #b9977c;
    color: white;
    padding-top: 2rem;
}

.redes{
    text-decoration: underline;
}