*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #333;
    font-family: 'Fredoka', sans-serif;
}

.header{
    background-color: #b9977c;
}

p {
    color: rgb(230, 168, 127);
    font-size: 20px;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 20rem;
    height: 20rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center; 
}

img{
    width: 300px;
    height: auto;
}


.hero-section{
    background: linear-gradient(rgba(44, 24, 26, 0.7), rgba(44, 24, 26, 0.3)), url("imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conteudo-hero{

}

.servicos{

}

.container{

}

.titulo{

}

.cards{
    background-color: #b9977c;
}

.card{
    
}
