*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #333;
    font-family: 'Fredoka', sans-serif;
}

.header{
    background-color: rgb(245, 183, 103);
}

p {
    color: rgb(207, 77, 77);
    font-size: 20px;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center; 
}

img{
    width: 300px;
    height: auto;
}


.hero-section{
    background: linear-gradient(rgba(44, 24, 26, 0.7), rgba(44, 24, 26, 0.3)), url("imagens/fundo.jpg");
}

.conteudo-hero{

}

.servicos{

}

.container{

}

.titulo{

}

.cards{

}

.card{
    
}
